<% if @complaints.empty? %>
<p>No complaint.</p>
<% else %>
<ul>
  <% @complaints.each do |complaint| %>
  <li class="complaint">
    <h2><%= link_to complaint.product.name, complaint.product %></h2>
    <p class="content"><%= complaint.content %></p>
    <p class="remark"><%= complaint.remark %></p>
    <% if complaint.accepted_at %>
    <h5>
      <b>Accepted at:</b>
      <%= complaint.accepted_at %>
    </h5>
    <% end %>
    <% if complaint.finished_at %>
    <h5>
      <b>Solved at:</b>
      <%= complaint.finished_at %>
    </h5>
    <% end %>
    <div class="actions">
      <%= link_to 'Show', complaint %>
      <% if complaint.accepted_at.nil? %>
      <%= link_to 'Edit', edit_complaint_path(complaint) %>
      <%= link_to 'Destroy', complaint, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </li>
  <% end %>
</ul>
<% end %>

<%= will_paginate %>
