<%= form_tag password_path, :method => :put do %>
<div class="field">
  <%= label_tag :old %>
  <%= password_field_tag :old %>
</div>
<div class="field">
  <%= label_tag :new %>
  <%= password_field_tag :new %>
</div>
<div class="field">
  <%= label_tag :confirm %>
  <%= password_field_tag :confirm %>
</div>
<div class="actions">
  <%= submit_tag "Save" %>
</div>
<% end %>
