<%= form_tag payment_password_path, :method => :put do %>
<% unless @subscriber.detail.nil? || @subscriber.detail.payment_password.nil? %>
<div class="field">
  <%= label_tag :old %>
  <%= password_field_tag :old %>
</div>
<% end %>
<div class="field">
  <%= label_tag :new %>
  <%= password_field_tag :new %>
</div>
<div class="field">
  <%= label_tag :confirm %>
  <%= password_field_tag :confirm %>
</div>
<div class="actions">
  <%= submit_tag "Save" %>
</div>
<% end %>
