<style type"text/css">
body{margin:0px;padding:0px;font-family:Arial;}
a img,:link img,:visited img { border: none; }
table { border-collapse: collapse; border-spacing: 0; }
:focus { outline: none; }
*{margin:0;padding:0;}
p, blockquote, dd, dt{margin:0 0 8px 0;line-height:1.5em;}
fieldset {padding:0px;padding-left:7px;padding-right:7px;padding-bottom:7px;}
fieldset legend{margin-left:15px;padding-left:3px;padding-right:3px;color:#333;}
dl dd{margin:0px;}
dl dt{}

.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden;}
.clearfix{display:block;zoom:1}

ul#thumblist{display:block;}
ul#thumblist li{float:left;margin-right:2px;list-style:none;}
ul#thumblist li a{display:block;border:1px solid #CCC;}
ul#thumblist li a.zoomThumbActive{
  border:1px solid red;
}

.jqzoom{
	text-decoration:none;
	float:left;
}
</style>

<div class="clearfix" id="content" style="" >
  <div class="clearfix">
    <a href="<%= asset_path @product.image1.url %>" class="jqzoom" rel='gal1' title='细节图'>
      <%= image_tag @product.image1.url, size: '439x364', style: '' %>
    </a>
  </div>
	<br/>
  
  <div class="clearfix" >
	  <ul id="thumblist" class="clearfix" >
	    <% 5.times do |i| %>
		  <li>
		    <a class="zoomThumbActive" href='javascript:void(0);' 
		      rel="{gallery: 'gal1', smallimage: '<%=@product.try("image#{i+1}").try(:url)%>',largeimage: '<%=@product.try("image#{i+1}").try(:url)%>'}">
          <%= image_tag @product.try("image#{i+1}").try(:url), size: '80x80' %>
		    </a>
		  </li>
		  <% end %>
	  </ul>
	</div>
</div>

<script type="text/javascript">

$(document).ready(function() {
	$('.jqzoom').jqzoom({
    zoomType: 'standard',
    lens:true,
    preloadImages: false,
    alwaysOn:false,
    zoomWidth: 500,  
    zoomHeight: 400
  });
	
});

</script>